    <h1>Welcome to cleverbreak.com, <%= @user.name %></h1>
    <p>
      <p>
          <%= @greeting %>


        </p>
                Thank you for joining us at Cleverbreak.

        Save Well!!!
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:
    </p>
    <p>Thanks for joining and have a great day!</p>
