

@mixin dashTitleStyles {
  background-color: $mainThemePurpleColor;
  border: 1px $secondaryPurpleColor solid;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 $mainThemePurpleColor;
  font-size: 14px;
  text-emphasis: bold;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 2px;
  margin-top: 2px;
};


@mixin blueBtn {
background-color: $mainThemeBlueColor;
text-shadow: 0 -1px 0 $mainThemeBlueColor;
color: white;
font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
}

@mixin purpleBtn {
  background-color: $mainThemePurpleColor;
  text-shadow: 0 -1px 0 $mainThemePurpleColor;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin redBtn {
  background-color: $mainRedColor;
  text-shadow: 0 -1px 0 $mainRedColor;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
};