



// Pixel-perfect styling. Based off of Splitwise Website


//Old Styling
$oldStyleLightGreen: #5bc5a7;
$oldStyleDarkerGreen: #318970;

$oldOrangeColor: #ff652f;
$oldDeepOrangeColor: #c83400;



// New Styling
  $mainThemeBlueColor: #005792;
  
  $mainThemePurpleColor: #795cfd;
  $secondaryPurpleColor: #4c00a4;

  $navBarColor: linear-gradient(0.25turn,  #005792, 95%, lightblue);



