.recent-activity-main-container {
  position: relative;
  
}




.activity-item {
  min-height: 40px;
  height: 59px;
  font-size: 17px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  

  background-color: transparent;

}

.activity-payee {
  color: #5BC5A7;
}

.activity-payor {
  color: #ff652f;
}

.title-bold-text {
  font-weight: bold !important;
  color: red;
}