@import './global/partials';


.dashboard-main {
  position: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;  
  min-height: 100vh;
}

.dashboard-main-nav-left {
  background-color: white;
  height: 100%;
  position: inline-block;
  margin-top: 3px;
  padding-right: 15px;
  max-width: 180px;
}

.dash-click {
  font-size: 16px;
  color: gray;
  background-color: transparent;
  border: none;
  height: 19px;
  margin-top: 4px;

}

.dash-click:hover { 
  background: #f8f8f8;
}

.dash-click:focus {
  font-weight: bold;
  // color: #5bc5a7;
  // border-left: #5bc5a7 solid 6px;
  color: $mainThemePurpleColor;
  border-left: $mainThemePurpleColor solid 6px;


}

.dashboard-main-center {
  background-color: none;
  height: 100%;

  position: inline-block;
  bottom: 0;
  width: 39vw;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

}

.dashboard-main-center-top {
  background-color: rgb(238, 238, 238);;
  border-bottom: 1px solid #ddd;
  height: 60px;
  position: relative;

}

.dashboard-main-center-top label {
  position: absolute;
  text-transform: capitalize;
  font-size: 24px;
  text-emphasis: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 15px;
  margin-top: 15px;
}

.expense-btn {

  margin-top: 10px;
  background-color: $mainThemePurpleColor;
  text-shadow: 0 -1px 0 $secondaryPurpleColor;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 40px;
  width: 120px;
  border-width: 1px;
  border-radius: 4px;
  border-color: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
  

  position: absolute;
  right: 15px;

}

.settle-btn {
  background-color: #5bc5a7;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  text-shadow: 0 -1px 0 #318970;
  height: 40px;
  width: 110px;
  border-width: 1px;
  border-radius: 4px;
  border-color: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: rgba(0, 0, 0, 0.1);
  padding: 4px 10px 4px 10px;
  margin-left: 3px;
}

.dashboard-main-nav-right {
  background-color: white;
  height: 100%;
  margin-left: 10px;
  margin-top: 3px;
  position: inline-block;
  width: 13vw;
  padding-top: 5px;
}

.dashboard-main-nav-right label {
  color: gray;
  text-emphasis: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: Arial;
  margin-left: 15px;
  font-size: 16px;

}

.dashboard-about-me-list li {
  color: black;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 18px;
  


}

.dashboard-about-me-list li a {
  text-decoration: none;
  color: #808080;



}

.dashboard-about-me-list li a:hover {
  text-decoration: none;
  // color: #318970;
  color: $mainThemePurpleColor;




}

.splitwise-purple-logo {
  background-image: url(./images/purple-splitwise-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  padding-bottom: 10px;

}





/* Dash Page */

.dashpage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:rgb(238, 238, 238);
  height: 38px;
  padding-top: 7px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;

}

.dashpage-container li {
  border-left: 1px solid #ddd;
  color: #999999;
  padding-left: 40px;
  margin-left: 10px;
  font-size: 13px;
}

.dashpage-container li div {
  margin-left: 3px;
}

.dashpage-container li:first-child {
  border-left: none;
  padding-left: 10px;
  margin-left: 25px;
  
}


