.friend-main-container {
  width: 100px;
  




}

.friend-main-container ul {
  margin-bottom: 5px;
  




}

.friend-title {
  background-color: #f6f6f6;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
  color: #ccc;
  font-size: 12px;
  min-width: 100%;
  

}

.friend-title button{
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;

}

.friend-title button:hover{
  color: #5bc5a7;
  
}

.friend-name {
  /* color: #999999; */
  font-size: 14px;

  margin-top: 1px;
  margin-bottom: 2px;
}

