.top-title {
    text-emphasis: bold;
    font-size: 40px;
    width:30%;
    position: relative;
    display: inline-block;
    height: auto;
    margin: 6% 13%;
}

.top-text {
  text-emphasis: bold;
  position: absolute;
  width: 23%;
  height: auto;
  margin: 27px 13%;
  font-size: 20px;
}

.signup-btn-body {
  position: absolute;
  background-color: #1CC29F;
  color: white;
  border-radius: 5px; 
  height: 56px;
  width: 191px;
  text-emphasis: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 0 0 rgba(55,59,63,0.5);
  top: 350px;
  left: 186px;

}

.signup-btn-body:hover {
  box-shadow: none;
  position: relative;
  top: 1px;

}




.splash-nav {
  top: 0;
  display: flex;
  min-height: 12vh;
  flex-direction: row-reverse;
}

.logo-link {
  background-image:  url('./images/Greeting_logo_link.png');
  background-size: cover;
  flex-direction: row;
  height: 60px;
  width: 200px;
  order: 1;
  
  margin-right: 900px;
  margin-top: 20px;


}


.login-btn {
  color: #1CC29F;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  text-emphasis: bold;
  float: right;
  margin-top: 37px;
  outline: none;
  margin-left: 1px;
  cursor: pointer;
  outline: none;

}

.signup-btn {
  background-color: #1CC29F;
  color: white;
  padding: 50 30 50 30;
  margin-left: 15px;
  border-radius: 5px;
  height: 43px;
  width: 90px;
  text-emphasis: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  float: right;
  border: none;
  text-emphasis: bold;
  margin-right: 116px;
  margin-top: 25px;
  box-shadow: 0 2px 0 0 rgba(55,59,63,0.5);

}

.signup-btn:hover {
  box-shadow: none;
  position: relative;
  top: 1px;
}

.greeting-body {
  position: relative;
}

.greeting-body-top {
  background-image:  url('./images/Greeting_background.png');
  background-size: cover;
  background-position: center 0px;
  height: 594px;


}

.top-title {
  font-size: 40px;
  color: #373b3f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 15px; 
}



.greeting-body-mid-left {
  background-image:  url('./images/Greeting_background.png');
  background-size: 1250px;
  background-position: center 0px;
  background-color: #373b3f;
  height: 645px;
  width: 50%;
  float:left;
}



.greeting-body-mid-right {
  background-image:  url('./images/Greeting_background.png');
  background-position: center 0px;
  background-size: 1250px;
  background-color: #1cc29f;
  height: 645px;
  width: 50%;
  float: right;
}

.greeting-body-low-left {
  background-image:  url('./images/Greeting_background.png');
  background-position: center 0px;
  background-size: 1250px;
  background-color: #f67240;
  height: 645px;
  width: 50%;
  float:left;
}

.greeting-body-low-right {
  background-image:  url('./images/Greeting_background.png');
  background-position: center 0px;
  background-size: 1250px;
  background-color: #373b3f;
  height: 645px;
  width: 50%;
  float: right;
}

.greeting-body-title {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;

}

.greeting-body-img {
  background-size: contain;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  height: 543px;
  width: 324px;
}

.img-top-left {
  background-image:  url('./images/top-left-image.png');
}

.img-top-right {
  background-image:  url('./images/top-right-image.png');
}

.img-mid-left {
  background-image:  url('./images/mid-left-image.png');
}

.img-mid-right {
  background-image:  url('./images/mid-right-image.png');
}

.greeting-body-img-bottom {
  background-image:  url('./images/image-bottom.png');
  background-size: contain;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: 13.6%;
  margin-top: 8.6%;
  height: 486px;
  width: 325px;

}

.greeting-body-text {
  display: block;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 45%;
  margin: auto;
  margin-top: 4%
  

}




.greeting-body-bottom {
  background-image:  url('./images/Greeting_background.png');
  background-size: cover;
  background-color: #8656cd;
  height: 639px;
  width: 100%;
  float: left;
}

.greeting-bottom-title {
  text-align: center;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 600;
}

.greeting-bottom-list-container {
  display: block;
  height: 100%;
  width: 100%;
}

.greeting-bottom-list-container ul{
  display: inline-block;

}


/* .greeting-bottom-list-left li::before { */
  /* background-image: url('./images/house_icon.png');
  background-size: 40px;
  margin-right: 0.4em;
  height: 15px;
  width: 15px;
  position: relative;
  top: -0.25em;
} */


.greeting-bottom-list-left {
  list-style-image: url('./images/house_icon.png');
  margin-left: 10%;
}

.greeting-bottom-list-center {
  list-style-image: url('./images/house_icon.png');
  margin-left: 20%;
  


}

.greeting-bottom-list-right {
  list-style-image: url('./images/diamond_icon.png');
  margin-left: 20%;


}


.footer-background {
  background-image: url('./images/Greeting_bottom.png');
  background-size: cover;
  width: 100%; 
  background-color: black;
  display: flex;
  min-height: 16vh;
  flex-direction: column;


}


