
.signup-introduce-welcome {
  font-size: 16px;
  color: #999;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.sign-in-logo {
  position: relative;
  top: 170px;
  right: 245px;
  background-image: url('./images/login-main-logo');
  background-size: contain;
  height: 220px;
  width: 220px;


}

.session-form-container {
  position: absolute;
  left: 650px;
  bottom: 500px;


}
